@page
@model IndexModel
@{
    ViewData["Title"] = "ISP n°20";
}

<img src="~/imgs/Banner.png" width= "100%"/>
<div class="text-center">
    <h1 class="display-4">Instituto Superior de Profesorado N°20</h1>
    <p>Nuestro Sitio Web <a href="https://www.isp20.edu.ar">Click Me!</a>.</p>
</div>
