@page
@model PrivacyModel


<img src="~/imgs/Logo.png" />
@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Informacion de Proyectos.</p>
<h3>3er año, Tecnicatura Superior en Desarrollo de Software</h3>
